---
services:
  filebrowser:
    image: filebrowser/filebrowser
    container_name: filebrowser
    user: 1000:1000
    expose:
      - 80/tcp
    volumes:
      - /home/alan/containers/filebrowser/filebrowser.db:/database/filebrowser.db
      - /home/alan/containers/filebrowser/config:/config
      - /home/alan/containers/filebrowser/branding:/branding
    environment:
      - TZ=Europe/London
    restart: unless-stopped
    security_opt:
      - no-new-privileges:true
    networks:
      - nginx-proxy-manager_default
networks:
  nginx-proxy-manager_default:
    external: true
    name: nginx-proxy-manager_default    