version: "3"
services:
  app:
    image: 'jc21/nginx-proxy-manager:latest'
    restart: unless-stopped
    ports:
      # These ports are in format <host-port>:<container-port>
      - '80:80' # Public HTTP Port
      - '443:443' # Public HTTPS Port
      - '81:81' # Admin Web Port [can comment this out later once reverse proxy host setup for npm itself]
      # Add any other Stream port you want to expose
      # - '21:21' # FTP

    # Uncomment the next line if you uncomment anything in the section
    # environment:
      # Uncomment this if you want to change the location of 
      # the SQLite DB file within the container
      # DB_SQLITE_FILE: "/data/database.sqlite"

      # Uncomment this if IPv6 is not enabled on your host
      # DISABLE_IPV6: 'true'
    extra_hosts:  # doesn't currently work but preparation in case fixed in the future
      - "host.docker.internal:host-gateway"
    volumes:
      - /home/alan/containers/nginx-proxy-manager/data:/data
      - ./letsencrypt:/etc/letsencrypt
    networks:
      nginx-proxy-manager_default:
        ipv4_address: 172.19.0.100 # set fixed IP for NPM - this is especially important for MeshCentral and SSL cert passthrough
networks:
  nginx-proxy-manager_default:
    external: true
    name: nginx-proxy-manager_default