---
###############################################################
#                   Authelia configuration                    #
###############################################################

server:
  host: 0.0.0.0
  port: 9091
log:
  level: debug
theme: dark
# This secret can also be set using the env variables AUTHELIA_JWT_SECRET_FILE
jwt_secret: a_very_important_secret
default_redirection_url: https://auth.local.example.com
totp:
  issuer: authelia.com

# duo_api:
#  hostname: api-123456789.example.com
#  integration_key: ABCDEF
#  # This secret can also be set using the env variables AUTHELIA_DUO_API_SECRET_KEY_FILE
#  secret_key: 1234567890abcdefghifjkl

authentication_backend:
  file:
    path: /config/users_database.yml
    password:
      algorithm: argon2id
      iterations: 1
      salt_length: 16
      parallelism: 8
      memory: 64
      
access_control:
  default_policy: deny
  rules:
    # Rules applied to everyone and are read top to bottom
    # Set to bypass, one_factor or two_factor
    # Remember main login page needs to be allowed to bypass
    - domain: auth.example.com
      policy: bypass
    - domain: important.example.com
      policy: two_factor
    - domain: *.example.com
      policy: one_factor

session:
  name: authelia_session
  # This secret can also be set using the env variables AUTHELIA_SESSION_SECRET_FILE
  secret: unsecure_session_secret
  expiration: 3600  # 1 hour
  inactivity: 300  # 5 minutes
  domain: example.com  # Should match whatever your root protected domain is

# redis:
#   host: redis
#   port: 6379
#   # This secret can also be set using the env variables AUTHELIA_SESSION_REDIS_PASSWORD_FILE
#   # password: authelia

regulation:
  max_retries: 3
  find_time: 120  # 60s = 2 min (can also use 2m)
  ban_time: 3600  # 3600s = 1 hour (can also use 1h)

storage:
  encryption_key: a_very_important_secret # Now required
  local:
    path: /config/db.sqlite3

notifier:
 # either smtp or filesystem
  smtp:
    username: test
    # This secret can also be set using the env variables AUTHELIA_NOTIFIER_SMTP_PASSWORD_FILE
    password: password
    host: mail.example.com
    port: 587
    sender: admin@example.com
    subject: "[Authelia] {title}"
  # filesystem:
  #   filename: /config/notification.txt
...